

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
		  <div class="resume-item d-flex flex-column flex-md-row">

		      <h1 id="mainName">{{ .Site.Params.firstName }} {{ .Site.Params.lastName }} 
		      </h1>
		  </div>
        	<div class="subheading mb-5">
		      <a href="http://cs.skku.edu/">Bachelor of Science in Software</a>
		      <br />
		      at 
		      <a href="http://www.skku.edu/eng_home/index.jsp">{{ .Site.Params.address }}</a>

		      <br /><br /><br />
		      {{ substr .Site.Params.email 0  }}

             </div>

        <div>
          {{ .Content }}
          <ul class="list-inline list-social-icons mb-0">
            {{ range .Site.Params.handles }}
                <li class="list-inline-item">
                  <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </section>
