<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
  JINHO LEE
  <br />
  B.S. in Software at SKKU
  <br />
  
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {{ if .Site.Params.showInterests }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Research Interests</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showEducation }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showSkills }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Technical Skills</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showLanguage }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#language">Language Proficiency</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showPublications }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#publications">Publications</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showResearch }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#research">Research Experience</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showCareers }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#careers">Careers</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showProjects }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showAwards }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showActivities }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#activities">Extracurricular Activities</a>
          </li>
      {{ end }}
    </ul>
  </div>
</nav>
