{{ define "main" }}
   {{ if .Site.Params.showInterests }}
       {{ partial "portfolio/interests.html" . }}
   {{ end }}

   {{ if .Site.Params.showEducation }}
       {{ partial "portfolio/education.html" . }}
   {{ end }}

   {{ if .Site.Params.showSkills }}
       {{ partial "portfolio/skills.html" . }}
   {{ end }}

   {{ if .Site.Params.showLanguage }}
       {{ partial "portfolio/language.html" . }}
   {{ end }}

   {{ if .Site.Params.showPublications }}
      {{ with .Site.GetPage "section" "publications" }}
         {{ .Scratch.Add "sectionId" "publications" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}

   {{ if .Site.Params.showResearch }}
      {{ with .Site.GetPage "section" "research" }}
         {{ .Scratch.Add "sectionId" "research" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}

   {{ if .Site.Params.showCareers }}
       {{ partial "portfolio/careers.html" . }}
   {{ end }}

   {{ if .Site.Params.showProjects }}
       {{ partial "portfolio/projects.html" . }}
   {{ end }}
   {{ if .Site.Params.showAwards }}
       {{ partial "portfolio/awards.html" . }}
   {{ end }}

   {{ if .Site.Params.showActivities }}
      {{ with .Site.GetPage "section" "activities" }}
         {{ .Scratch.Add "sectionId" "activities" }}
         {{ partial "sectionSummary" . }}
      {{ end }}
   {{ end }}

{{ end }}
